[mysqld]
bind-address=0.0.0.0
console=1
general_log=1
general_log_file=/dev/stdout
log_error=/dev/stderr

server-id=3
relay-log=mysqld-relay-bin
report-host=t.oerfoundation.org

# don't rely on DNS
skip-host-cache
skip-name-resolve

# InnoDB
innodb_file_per_table   = 1
innodb_file_format      = barracuda

